
<section class="all-center">

      <h1 class="h3 fw-normal mt-5" align="center">Add Customer</h1>

      <main class="form-signin w-100">
          <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div class="form-floating">
              <input type="text" class="form-control" placeholder="John" formControlName="name">
              <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating">
              <input type="number" class="form-control" placeholder="name@example.com" formControlName="mobile_number">
              <label for="floatingInput">Mobile Number</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" placeholder="Address" formControlName="address">
              <label for="floatingInput">Address</label>
            </div>
            <div class="form-floating">
              <input type="text" class="form-control" placeholder="Date" formControlName="visit_date" [matDatepicker]="picker">
              <label for="floatingInput">Visit Date</label>
              <div class="date-time-ctm">
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
              </div>        
            </div>

            <div class="py-3">
              <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!customerForm.valid" >Submit</button>
              <a class="btn w-100" type="button" [routerLink]="['/customer/list']" style="margin-top: 10px;">Back</a>
            </div>
          </form>
      </main>

</section>