<section>
    <div class="container py-5">

        <div class="row">

            <div class="col-md-6 col-lg-7 col-xl-8 chat-box-center">

                <ul class="list-unstyled" style="height:500px;overflow: auto;" #scrollContainer>

                    @if (messagesLists.length > 0) {
                    @for (chat of messagesLists; track $index) {

                    @if (chat.client_id == currentClientId) {

                    <li class="d-flex justify-content-between mb-4">
                        <div class="card w-100">
                            <div class="card-header d-flex justify-content-between p-3">
                                <p class="fw-bold mb-0">{{chat.name | titlecase}}</p>
                                <p class="text-muted small mb-0"><i class="far fa-clock"></i>{{chat.datetime | dateAgo}}
                                </p>
                            </div>
                            <div class="card-body">
                                <p class="mb-0" [innerHTML]="render_message(chat.message)"></p>
                                @if (chat.files.path) {
                                <p class="mb-0" [innerHTML]="render_message(apiPath + chat.files.path)"></p>
                                }
                            </div>
                        </div>
                        <div class="rounded-circle ms-3 shadow-1-strong name-img">
                            {{getImageFromName(chat.name)}}
                        </div>
                    </li>

                    }@else{

                    <li class="d-flex justify-content-between mb-4">
                        <div class="rounded-circle me-3 shadow-1-strong name-img">
                            {{getImageFromName(chat.name)}}
                        </div>
                        <div class="card w-100">
                            <div class="card-header d-flex justify-content-between p-3">
                                <p class="fw-bold mb-0">{{chat.name}}</p>
                                <p class="text-muted small mb-0"><i class="far fa-clock"></i> {{chat.datetime |
                                    dateAgo}}</p>
                            </div>
                            <div class="card-body">
                                <p class="mb-0" [innerHTML]="render_message(chat.message)"></p>
                                @if (chat.files.path) {
                                <p class="mb-0" [innerHTML]="render_message(apiPath + chat.files.path)"></p>
                                }
                            </div>
                        </div>
                    </li>
                    }

                    }

                    }@else {
                    <div align="center">
                        <img
                            src="//cdni.iconscout.com/illustration/premium/thumb/no-comment-illustration-download-in-svg-png-gif-file-formats--chat-bubble-message-empty-states-pack-user-interface-illustrations-8593303.png">
                    </div>
                    }

                </ul>

                <div style="display:flex;flex-direction:column;row-gap:8px;">
                    <div>{{typingIndicator | titlecase}}</div>
                    <div style="position:relative;">
                        <div *ngIf="showEmojiPicker">
                            <emoji-mart (emojiSelect)="addEmoji($event)"
                                [style]="{ position: 'absolute', bottom: '110px', left: '0px' }"></emoji-mart>
                        </div>
                        <button (click)="toggleEmojiPicker()"
                            style="position:absolute;bottom:2px;left:2px;border: 0;">😊</button>
                        <textarea class="form-control bg-body-tertiary" id="textAreaExample2"
                            placeholder="Enter text here..." [(ngModel)]="newMessage" rows="4"
                            (keydown.enter)="sendMessage()" (input)="typingMessageInput()"
                            (keyup)="typingMessageKeyup()"
                            style="background: #f3f5f7;border: 1px solid #3f51b5;"></textarea>
                    </div>
                    <div style="display: flex;column-gap: 10px;justify-content: end;">
                        <input type="file" (change)="this.uploadFile($event)" class="file-inp">
                        <button mat-flat-button color="primary" (click)="sendMessage()"
                            style="width:150px;" [disabled]="sendBtnStatus">Send</button>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>