<div class="all-center">

    <h1 class="h3 fw-normal mt-5">Change Password</h1>

    <div class="form-signin w-100 m-auto">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

            <div class="form-floating">
                <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
                <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Old Password" formControlName="old_password">
                <label for="floatingPassword">Old Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" placeholder="New Password" formControlName="new_password"
                    (change)="this.validateBothPassword()">
                <label for="floatingPassword">New Password</label>
            </div>

            <div class="form-floating">
                <input type="password" class="form-control" placeholder="Confirm Password"
                    formControlName="cnf_password" (change)="this.validateBothPassword()">
                <label for="floatingPassword">Confirm Password</label>
            </div>

            <!-- Display mismatch error for the form group -->
            <div *ngIf="checkPasswordMatchStatus">
                Passwords do not match.
            </div>

            <div class="py-2">
                <button class="btn btn-primary w-100 py-2" type="submit"
                    [disabled]="!changePasswordForm.valid">Update</button>
            </div>

        </form>
    </div>
</div>