
.hello-btn-tab{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
    margin-top: 50px;
}

.hello-btn-tab a{
    color: #000;
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    border-left: 1px solid #b7b7b7;
    padding: 0px 40px;
    text-decoration: none;
    background-color: #dee2e6;
}

.hello-btn-tab a:not(.active):hover{
    background-color: #b7c4d1;
    color: #464242;
}

.hello-btn-tab .active{
    background-color: #3a8bdb;
    border-color: #3a8bdb;
    color: #fff;
}