/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #f8f9fa !important }
body { margin: 0; font-family: sans-serif !important; }


/* for login & register form */

.form-signin {
    max-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input{
    background-color: #fff;
    margin-bottom: 10px;
  }
  
/* end for login & register form */