/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: #f8f9fa !important }
body { margin: 0; font-family: sans-serif !important; }


/* for login & register form */
.form-signin {
    max-width: 350px;
    height: auto;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input{
    background-color: #fff;
    margin-bottom: 10px;
  }
  

  .all-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
/* end for login & register form */