<main class="form-signin w-100 m-auto">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h1 class="h3 mb-3 fw-normal">Please Sign-up</h1>
    
      <div class="form-floating">
        <input type="text" class="form-control" placeholder="John" formControlName="name">
        <label for="floatingInput">Full Name</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="py-3">
        <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="!userForm.valid" >Sign Up</button>
      </div>
    </form>
  </main>